<footer>
  <nav class="navbar fixed-bottom bg-light border-top shadow-sm">
    <div class="container-fluid d-flex justify-content-center py-2">
      <h6 class="text-muted mb-0">
        <i class="fa-solid fa-copyright"></i> 2024 Burhan Chattha. All rights
        reserved.
      </h6>
    </div>
  </nav>
</footer>
